<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Mediquanta | 라운지</title>
<link th:href="@{/css/community/rounge.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section>
				<div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
			</section>
			<section style="background-color: #eee;">
				<div class="container py-4">
					<div class="row">
						<div class="col">
							<nav aria-label="breadcrumb"
								class="bg-body-tertiary rounded-3 mb-4">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">메인</a></li>
									<li class="breadcrumb-item active" aria-current="page">커뮤니티</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="ibox-title m-b-sm border-bottom">
									<div class="p-xs">
										<h1 class="community-title"><i class="fa fa-globe text-navy mid-icon"></i><span>&nbsp;</span>커뮤니티에 오신 것을 환영합니다.</h1>
										<span>커뮤니티에 참가하고 여러 사람들과 자유 주제로 토론해보세요.</span>
									</div>
								</div>
								<div class="ibox-content forum-container">
									<div class="forum-title">
										<h3>커뮤니티 목록
											<span style="float: right;" th:if="${role == 'ADMIN' || role == 'USER'}">
												<a th:href="@{/community/createCommunity}">
													<i class="fas fa-solid fa-plus" style="color : green;"></i>
												</a>
											</span>
										</h3>
									</div>
									<br/>
									<div class="forum-item" th:each="community : ${communityList}">
										<div class="row">
											<div class="col-md-9">
												<a th:href="@{'/community/' + ${community.communityName}}"
													th:text="${community.communityName}"
													class="forum-item-title"></a>
												<div class="forum-sub-title"
													th:text="${community.description}"></div>
											</div>
											<div class="col-md-1 forum-info">
												<span class="views-number"
													th:text="${community.totalViewCount}"></span>
												<div>
													<small>Views</small>
												</div>
											</div>
											<div class="col-md-1 forum-info">
												<span class="views-number"
													th:text="${community.totalMemberCount}"></span>
												<div>
													<small>Topics</small>
												</div>
											</div>
											<div class="col-md-1 forum-info">
												<span class="views-number"
													th:text="${community.totalPostCount}"></span>
												<div>
													<small>Posts</small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>