<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.mediquanta.bookmark.dao.BookmarkDAO">

	<!-- 회원 ID로 병원 즐겨찾기 및 약국 즐겨찾기 정보 조회 -->
    <select id="findByMemberIdx" parameterType="long" resultType="BookmarkDTO">
	    SELECT 	BOOKMARK_ID,
	    		MEMBER_IDX, 
	           	HOSPITAL_ID,
	           	PHARMACY_ID
	    FROM 	BOOKMARK
	    WHERE 	MEMBER_IDX = #{memberIdx}
	</select>

    <!-- 병원 즐겨찾기 추가 -->
    <insert id="addHospitalBookmark" parameterType="BookmarkDTO">
	   	INSERT INTO BOOKMARK (MEMBER_IDX, HOSPITAL_ID)
        VALUES (#{memberIdx}, #{hospitalId})
	</insert>

    <!-- 약국 즐겨찾기 추가 -->
    <insert id="addPharmacyBookmark" parameterType="map">
        INSERT INTO BOOKMARK (MEMBER_IDX, PHARMACY_ID)
        VALUES (#{memberIdx}, #{pharmacyId})
        ON DUPLICATE KEY UPDATE PHARMACY_ID = VALUES(PHARMACY_ID)
    </insert>
    
    <!-- 병원 즐겨찾기 삭제 -->
    <delete id="removeHospitalBookmark" parameterType="long">
        DELETE FROM BOOKMARK
        WHERE BOOKMARK_ID = #{bookmarkId}
    </delete>

    <!-- 약국 즐겨찾기 삭제 -->
    <delete id="removePharmacyBookmark" parameterType="map">
        DELETE FROM BOOKMARK
        WHERE MEMBER_IDX = #{memberIdx} AND PHARMACY_ID = #{pharmacyId}
    </delete>

</mapper>
