<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.mediquanta.hospital.dao.HospitalDAO">

	<!-- 병원 목록 DB 저장 -->
	<insert id="saveHospital" parameterType="HospitalDTO">
		INSERT INTO HOSPITAL (
			HOSPITAL_ID,
			HOSPITAL_NAME,
			TYPE,
			SIDOCDNM,
			SGGUCDNM,
			ADDRESS,
			PHONE,
			LATITUDE,
			LONGITUDE,
			HOSPITAL_URL,
			CREATED_AT,
			UPDATED_AT
		) 
		VALUES (
			#{hospitalId},
			#{hospitalName},
			#{type},
			#{sidoCdNm},
			#{sgguCdNm},
			#{address},
			#{phone},
			#{latitude},
			#{longitude},
			#{hospitalUrl},
			#{createdAt},
			#{updatedAt}
		 )
	</insert>
	
	<!-- 병원 목록 가져오기 -->
	<select id="getHospitalList" resultType="HospitalDTO">
		SELECT 	HOSPITAL_ID,
				HOSPITAL_NAME,
				TYPE,
				SIDOCDNM,
				SGGUCDNM,
				ADDRESS,
				PHONE,
				LATITUDE,
				LONGITUDE,
				HOSPITAL_URL,
				CREATED_AT,
				UPDATED_AT
		FROM	HOSPITAL
		LIMIT 20;
	</select>
	
	<!-- 이름에 대해 병원 조회하기 -->
	<select id="searchHospitalByName" parameterType="String" resultType="HospitalDTO">
		SELECT 	HOSPITAL_ID,
				HOSPITAL_NAME,
				TYPE,
				SIDOCDNM,
				SGGUCDNM,
				ADDRESS,
				PHONE,
				LATITUDE,
				LONGITUDE,
				HOSPITAL_URL,
				CREATED_AT,
				UPDATED_AT
		FROM	HOSPITAL
		WHERE	HOSPITAL_NAME = #{name}
	</select>

	<!-- 지역에 대해 병원 목록 조회하기 -->
	<select id="searchHospitalBySidoCdNm" parameterType="String" resultType="HospitalDTO">
		SELECT 	HOSPITAL_ID,
				HOSPITAL_NAME,
				TYPE,
				SIDOCDNM,
				SGGUCDNM,
				ADDRESS,
				PHONE,
				LATITUDE,
				LONGITUDE,
				HOSPITAL_URL,
				CREATED_AT,
				UPDATED_AT
		FROM	HOSPITAL
		WHERE	SIDOCDNM = #{sidoCdNm}
	</select>
	
	<!-- 병원 유형에 대해 병원 목록 조회하기 -->
	<select id="searchHospitalByType" parameterType="String" resultType="HospitalDTO">
		SELECT 	HOSPITAL_ID,
				HOSPITAL_NAME,
				TYPE,
				SIDOCDNM,
				SGGUCDNM,
				ADDRESS,
				PHONE,
				LATITUDE,
				LONGITUDE,
				HOSPITAL_URL,
				CREATED_AT,
				UPDATED_AT
		FROM	HOSPITAL
		WHERE	TYPE = #{type}
	</select>
	
</mapper>