<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Mediquanta | 사이트 소개</title>
</head>
<body>
	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section>
				<div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
			</section>
			<section style="background-color: #eee;">
				<div class="container py-5">
			        <div class="row align-items-md-center mb-5">
			            <div class="col-md-12">
			                <div class="lc-block text-center"><span data-editable="inline" class="small mt-4 d-block">LOREM IPSUM</span>
			                    <h2 data-editable="inline" class="display-2 mb-0"><b>About the Company</b></h2>
			                    <p data-editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus <br> id ligula malesuada placerat sit amet quis enim.</p>
			                </div>
			            </div>
			        </div>
			        <div class="row align-items-md-center mb-5">
			            <div class="col-lg-6 pr-5">
			                <div class="lc-block py-2">
			                    <span class="badge bg-dark" data-editable="inline">COMPANY INFO</span>
			                </div>
			                <div class="lc-block mb-4">
			                    <h2 data-editable="inline">Working Together, to build great projects.</h2>
			                </div>
			                <div class="lc-block">
			                    <div class="row">
			                        <div class="col-6">
			                            <div class="lc-block mb-4">
			                                <p data-editable="inline" class=" m-0" style="font-size:40px;">3+</p>
			                                <p data-editable="inline" class="small text-uppercase">Branches</p>
			                            </div>
			                        </div>
			                        <div class="col-6">
			                            <div class="lc-block mb-4">
			                                <p data-editable="inline" class=" m-0" style="font-size:40px;">48+</p>
			                                <p data-editable="inline" class="small text-uppercase">Offices</p>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="row">
			                        <div class="col-6">
			                            <div class="lc-block mb-4">
			                                <p data-editable="inline" class=" m-0" style="font-size:40px;">33+</p>
			                                <p data-editable="inline" class="small text-uppercase">Events over the world</p>
			                            </div>
			                        </div>
			                        <div class="col-6">
			                            <div class="lc-block mb-4">
			                                <p data-editable="inline" class=" m-0" style="font-size:40px;">4800+</p>
			                                <p data-editable="inline" class="small text-uppercase">Members</p>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="lc-block text-muted">
			                    <div data-editable="rich">
			                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat.&nbsp;</p>
			                        <p>In pellentesque scelerisque auctor. Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis tempor
			                            ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis.</p>
			                    </div>
			                </div>
			            </div>
			            <div class="col-sm-6 col-lg-3 ">
			                <div class="lc-block mb-4">
			                    <div class="card shadow-sm border-light">
			                        <img src="https://images.unsplash.com/photo-1525296143957-b62256c593bf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="Featured image 1" class="card-img-top" data-loading="lazy">
			                        <div class="card-body">
			                            <h3 class="card-title" data-editable="inline">Coffee</h3>
			                            <p class="card-text" data-editable="inline">Some quick example text to build on the card title</p>
			                        </div>
			                    </div>
			                </div>
			                <div class="lc-block">
			                    <div class="card shadow-sm border-light">
			                        <img src="https://images.unsplash.com/photo-1536060316316-2466bda904f1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="Featured image 2" class="card-img-top" data-loading="lazy">
			                        <div class="card-body">
			                            <h3 class="card-title" data-editable="inline">Devices</h3>
			                            <p class="card-text" data-editable="inline">Some quick example text to build on the card title</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="col-sm-6 col-lg-3 mt-4 mt-sm-0 align-self-center">
			                <div class="lc-block">
			                    <div class="card shadow-sm border-light">
			                        <img src="https://images.unsplash.com/photo-1507831228884-93d43e81a99d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=632&amp;q=80" alt="Featured image 3" class="card-img-top" data-loading="lazy">
			                        <div class="card-body">
			                            <h3 class="card-title" data-editable="inline">Productivity</h3>
			                            <p class="card-text" data-editable="inline">Some quick example text to build on the card title</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</section>
		</main>
	</div>

</body>
</html>