<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout.html}">
<head>
<meta charset="UTF-8">
<title>Mediquanta - Medical Search &amp; Community</title>
</head>
<body>

	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<!--== Start Hero Area Wrapper ==-->
			<section class="home-slider-area slider-default bg-img"
				data-bg-img="/img/slider/main-slide-01.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<!-- Start Slide Item -->
							<div class="slider-content-area" data-aos="fade-zoom-in"
								data-aos-duration="1300">
								<h5>feel the difference with us</h5>
								<h2>
									Your Health <span>Is Our Priority</span>
								</h2>
							</div>
							<!-- End Slide Item -->
							<div class="swiper-container service-slider-container">
								<div class="swiper-wrapper service-slider service-category">

									<div class="swiper-slide category-item">
										<div class="icon">
											<i class="icofont-stethoscope-alt"></i>
										</div>
										<h4>Diagnose</h4>
										<p>Examination &amp; Diagnosis</p>
									</div>

									<div class="swiper-slide category-item">
										<div class="icon">
											<i class="icofont-brain-alt"></i>
										</div>
										<h4>Treatment</h4>
										<p>Treatment of the disease</p>
									</div>

									<div class="swiper-slide category-item">
										<div class="icon">
											<i class="icofont-paralysis-disability"></i>
										</div>
										<h4>Care Healthy</h4>
										<p>Care and recuperation</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--== End Hero Area Wrapper ==-->

			<!--== Start Feature Area Wrapper ==-->
			<section class="feature-area feature-default-area"
				data-bg-color="#eaeded">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title" data-aos="fade-up"
								data-aos-duration="1100">
								<h5>Why Choose Mexi Medical</h5>
								<h2 class="title">
									The Best <span>For Your Health</span>
								</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-xl-8">
							<div class="row icon-box-style1" data-aos="fade-up"
								data-aos-duration="1100">
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-prescription"></i>
										</div>
										<div class="content">
											<h5 class="title">Medical Counseling</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-doctor-alt"></i>
										</div>
										<div class="content">
											<h5 class="title">Top Level Doctors</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-microscope"></i>
										</div>
										<div class="content">
											<h5 class="title">Medical Facilites</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-ambulance-cross"></i>
										</div>
										<div class="content">
											<h5 class="title">24 Hours Services</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-blood"></i>
										</div>
										<div class="content">
											<h5 class="title">Personal Services</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="icon-box-item">
										<div class="icon">
											<i class="icofont-paralysis-disability"></i>
										</div>
										<div class="content">
											<h5 class="title">Dedicated Patient Care</h5>
											<p>Lorem ipsum dolor sit amet, consect adipisicing elit
												vero. Donec ultri sollicitudin lacus</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="thumb" data-aos="fade-left" data-aos-duration="1500">
					<img src="/img/photos/doctor-01.png" alt="Mexi-Image">
				</div>
			</section>
			<!--== End Feature Area Wrapper ==-->

			<!--== Start Blog Area Wrapper ==-->
			<section class="blog-area blog-default-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="section-title" data-aos="fade-up"
								data-aos-duration="1000">
								<h2 class="title">
									Tips &amp; <span>Tricks</span>
								</h2>
							</div>
							<div class="post-items-style1" data-aos="fade-up"
								data-aos-duration="1100">
								<!--== Start Blog Post Item ==-->
								<div class="post-item">
									<div class="thumb">
										<a href="blog-details.html"><img src="/img/blog/01.jpg"
											alt="Mexi-Blog"></a>
									</div>
									<div class="content">
										<h4 class="title">
											<a href="blog-details.html">How to cleaning exterior
												glasses secure &amp; bright?</a>
										</h4>
										<div class="meta">
											Sep 17th, 2020 by <a class="author" href="blog.html">Admin</a>
										</div>
									</div>
								</div>
								<!--== End Blog Post Item ==-->

								<!--== Start Blog Post Item ==-->
								<div class="post-item">
									<div class="thumb">
										<a href="blog-details.html"><img src="/img/blog/02.jpg"
											alt="Mexi-Blog"></a>
									</div>
									<div class="content">
										<h4 class="title">
											<a href="blog-details.html">Your building look alway
												modern and shiny more with Clenora</a>
										</h4>
										<div class="meta">
											Sep 17th, 2020 by <a class="author" href="blog.html">Admin</a>
										</div>
									</div>
								</div>
								<!--== End Blog Post Item ==-->

								<!--== Start Blog Post Item ==-->
								<div class="post-item">
									<div class="thumb">
										<a href="blog-details.html"><img src="/img/blog/03.jpg"
											alt="Mexi-Blog"></a>
									</div>
									<div class="content">
										<h4 class="title">
											<a href="blog-details.html">Notes when vacuuming in <br>the
												house
											</a>
										</h4>
										<div class="meta">
											Sep 17th, 2020 by <a class="author" href="blog.html">Admin</a>
										</div>
									</div>
								</div>
								<!--== End Blog Post Item ==-->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="section-title mt-md-70" data-aos="fade-up"
								data-aos-duration="1000">
								<h2 class="title">FAQs</h2>
							</div>
							<div class="accordian-content" data-aos="fade-up"
								data-aos-duration="1100">
								<div class="accordion accordion-style2 no-bg"
									id="accordionStyle">
									<div class="accordion-item">
										<div class="accordion-header" id="headingOne">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne"
												aria-expanded="true" aria-controls="collapseOne">
												Can I Get A Divorce Without A Consultant? <i
													class="icon icon-plus icofont-thin-down"></i> <i
													class="icon icon-minus icofont-close-line"></i>
											</button>
										</div>
										<div id="collapseOne" class="accordion-collapse collapse show"
											aria-labelledby="headingOne" data-bs-parent="#accordionStyle">
											<div class="accordion-body">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Curabitur consectetur elit
												lacinia ornare. In volutpat rutrum molestie. Vivamus
												efficitur orci, ac gravida eros bibendum non. Nullam auctor
												varius fer vestibulum ante ipsum primis in faucibus orci
												luctus et ultrices.</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseTwo"
												aria-expanded="false" aria-controls="collapseTwo">
												I Have A Technical Problem Or Support Issue I Need Resolved,
												Who Do I Email? <i class="icon icon-plus icofont-thin-down"></i>
												<i class="icon icon-minus icofont-close-line"></i>
											</button>
										</div>
										<div id="collapseTwo" class="accordion-collapse collapse"
											aria-labelledby="headingTwo" data-bs-parent="#accordionStyle">
											<div class="accordion-body">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Curabitur consectetur elit
												lacinia ornare. In volutpat rutrum molestie. Vivamus
												efficitur orci, ac gravida eros bibendum non. Nullam auctor
												varius fer vestibulum ante ipsum primis in faucibus orci
												luctus et ultrices.</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseThree"
												aria-expanded="false" aria-controls="collapseThree">
												What Other Services Are You Compatible With? <i
													class="icon icon-plus icofont-thin-down"></i> <i
													class="icon icon-minus icofont-close-line"></i>
											</button>
										</div>
										<div id="collapseThree" class="accordion-collapse collapse"
											aria-labelledby="headingThree"
											data-bs-parent="#accordionStyle">
											<div class="accordion-body">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Curabitur consectetur elit
												lacinia ornare. In volutpat rutrum molestie. Vivamus
												efficitur orci, ac gravida eros bibendum non. Nullam auctor
												varius fer vestibulum ante ipsum primis in faucibus orci
												luctus et ultrices.</div>
										</div>
									</div>
									<div class="accordion-item">
										<div class="accordion-header" id="headingFour">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseFour"
												aria-expanded="false" aria-controls="collapseFour">
												Are You Hiring? <i class="icon icon-plus icofont-thin-down"></i>
												<i class="icon icon-minus icofont-close-line"></i>
											</button>
										</div>
										<div id="collapseFour" class="accordion-collapse collapse"
											aria-labelledby="headingFour"
											data-bs-parent="#accordionStyle">
											<div class="accordion-body">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Curabitur consectetur elit
												lacinia ornare. In volutpat rutrum molestie. Vivamus
												efficitur orci, ac gravida eros bibendum non. Nullam auctor
												varius fer vestibulum ante ipsum primis in faucibus orci
												luctus et ultrices.</div>
										</div>
									</div>
								</div>
								<a class="btn-line" th:href="@{/}">View All Questions</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--== End Blog Area Wrapper ==-->
		</main>
	</div>

</body>
</html>