<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Mediquanta | 병원 정보 수정</title>
<link th:href="@{/css/hospital/hospitalDetail.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>

	$(document).ready(function() {
	
		$("#memberId").on("input", function() {
			if ($("#checkIdButton").text() === "사용 불가" && $("#checkIdButton").hasClass("btn-danger")) {
		        $("#checkIdButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-danger").addClass("btn-primary");
		    }

		    if ($("#checkIdButton").text() === "사용 가능" && $("#checkIdButton").hasClass("btn-success")) {
		        $("#checkIdButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-success").addClass("btn-primary");
		    }
	    });
		
		$("#nickname").on("input", function() {
			if ($("#checkNicknameButton").text() === "사용 불가" && $("#checkNicknameButton").hasClass("btn-danger")) {
		        $("#checkNicknameButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-danger").addClass("btn-primary");
		    }

		    if ($("#checkNicknameButton").text() === "사용 가능" && $("#checkNicknameButton").hasClass("btn-success")) {
		        $("#checkNicknameButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-success").addClass("btn-primary");
		    }
	    });
		
		$("#email").on("input", function() {
			if ($("#checkEmailButton").text() === "사용 불가" && $("#checkEmailButton").hasClass("btn-danger")) {
		        $("#checkEmailButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-danger").addClass("btn-primary");
		    }

		    if ($("#checkEmailButton").text() === "사용 가능" && $("#checkEmailButton").hasClass("btn-success")) {
		        $("#checkEmailButton").text("중복 확인").attr("style", "float: right;").removeClass("btn-success").addClass("btn-primary");
		    }
	    });
		
	});
	
	function checkFormValidation() {
		
		let isValid = false;
	
	    let memberId = $("#memberId").val();
	    if (memberId.trim() === "") {
	        $("#isValidIdMsg").html(`<span style="color:red;">아이디를 입력하세요.</span>`);
	    } else if (document.getElementById("checkIdButton").innerHTML == "중복 확인") {
	    	$("#isValidIdMsg").html(`<span style="color:red;">닉네임 중복을 확인해주세요.</span>`);
	    } else if (document.getElementById("checkIdButton").innerHTML == "사용 불가") {
	    	$("#isValidIdMsg").html(`<span style="color:red;">중복된 닉네임입니다.</span>`);
	    } else {
	        $("#isValidIdMsg").text("");
	        isValid = true;
	    }
		
	    let nickname = $("#nickname").val();
	    if (nickname.trim() === "") {
	        $("#isValidNicknameMsg").html(`<span style="color:red;">닉네임을 입력하세요.</span>`);
	    } else if (document.getElementById("checkNicknameButton").innerHTML == "중복 확인") {
	    	$("#isValidNicknameMsg").html(`<span style="color:red;">닉네임 중복을 확인해주세요.</span>`);
	    } else if (document.getElementById("checkNicknameButton").innerHTML == "사용 불가") {
	    	$("#isValidNicknameMsg").html(`<span style="color:red;">중복된 닉네임입니다.</span>`);
	    } else {
	        $("#isValidNicknameMsg").text("");
	        isValid = true;
	    }
	
	    let passwd = $("#passwd").val();
	    if (passwd.trim() === "") {
	        $("#isValidPasswdMsg").html(`<span style="color:red;">비밀번호를 입력하세요.</span>`);
	    } else {
	        $("#isValidPasswdMsg").text("");
	        isValid = true;
	    }
	
	    let confirmPasswd = $("#confirmPasswd").val();
	    if (confirmPasswd.trim() === "") {
	        $("#isValidConfirmPasswdMsg").html(`<span style="color:red;">비밀번호를 다시 입력하세요.</span>`);
	    } else if (passwd != confirmPasswd) {
	        $("#isValidConfirmPasswdMsg").html(`<span style="color:red;">비밀번호가 일치하지 않습니다.</span>`);
	    } else {
	        $("#isValidConfirmPasswdMsg").text("");
	        isValid = true;
	    }
	
	    let email = $("#email").val();
	    if (email.trim() === "") {
	        $("#isValidEmailMsg").html(`<span style="color:red;">이메일을 입력하세요.</span>`);
	    }  else if (document.getElementById("checkEmailButton").innerHTML == "중복 확인") {
	    	$("#isValidEmailMsg").html(`<span style="color:red;">이메일 중복을 확인해주세요.</span>`);
	    } else if (document.getElementById("checkEmailButton").innerHTML == "사용 불가") {
	    	$("#isValidEmailMsg").html(`<span style="color:red;">중복된 이메일입니다.</span>`);
	    } else {
	        $("#isValidEmailMsg").text("");
	        isValid = true;
	    }
	
	    let zipcode = $("#zipcode").val();
	    if (zipcode.trim() === "") {
	        $("#isValidAddressMsg").html(`<span style="color:red;">우편번호를 선택하세요.</span>`);
	    } else {
	        $("#isValidAddressMsg").text("");
	        isValid = true;
	    }
	    
	    let birth = $("#birth").val();
	    if (birth.trim() === "") {
	        $("#isValidBirthMsg").html(`<span style="color:red;">생년월일을 입력하세요.</span>`);
	    } else {
	        $("#isValidBirthMsg").text("");
	        isValid = true;
	    }
	
	    if ($('#aggrement').is(':checked')) {
	    	isValid = true;
	    }
	    
	    return isValid;
		
	}
</script>
</head>
<body>
	<div layout:fragment="content">
        <main class="main-content site-wrapper-reveal">
        	<section>
                <div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
            </section>
            <section style="background-color: gainsboro;">
				<div class="container py-4">
					<div class="row">
				      <div class="col mb-2">
				        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 mb-4">
				          <ol class="breadcrumb mb-0">
				            <li class="breadcrumb-item"><a th:href="@{/}">메인</a></li>
				            <li class="breadcrumb-item"><a th:href="@{/hospital}">병원 목록</a></li>
				            <li class="breadcrumb-item active" aria-current="page" th:text="${hospital.hospitalName}"></li>
				          </ol>
				        </nav>
				      </div>
				    </div>
					<div class="row">
						<div class="col-lg-12 card-margin">
							<div class="card mb-0">
			          			<div class="card-body">
								    <h1 class="hospital-name mb-4" th:text="${hospital.hospitalName}"></h1>
								    <form th:object="${hospital}" th:action="@{/hospital/updateHospInfo}" th:onsubmit="return checkUpdateForm();" method="post" enctype="multipart/form-data" novalidate>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="type">병원 유형</label> <input
												type="text"th:field="*{type}" placeholder="유형을 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="sidoCdNm">주소 (시, 도)</label> <input
												type="text"th:field="*{sidoCdNm}" placeholder="주소 (시, 도)를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="sgguCdNm">주소 (구, 동)</label> <input
												type="text"th:field="*{sgguCdNm}" placeholder="주소 (구, 동)를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="address">주소 (전체 주소)</label> <input
												type="text"th:field="*{address}" placeholder="전체 주소를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="phone">전화번호</label> <input
												type="text"th:field="*{phone}" placeholder="전화번호를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="latitude">위도</label> <input
												type="text"th:field="*{latitude}" placeholder="위도를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="longitude">경도</label> <input
												type="text"th:field="*{longitude}" placeholder="경도를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div data-mdb-input-init class="form-outline mb-4">
											<label class="form-label" for="hospitalUrl">홈페이지</label> <input
												type="text"th:field="*{hospitalUrl}" placeholder="홈페이지를 입력하세요"
												class="form-control form-control-lg" />
										</div>
										<div class="mb-4"></div>
										<button class="btn btn-primary btn-sm btn-block" style="float:right;" id="updateHospBtn" type="submit">수정</button>
									</form>
								</div>
							</div>
						 </div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>