<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title th:text="|${memberDTO.nickname}님의 프로필|"></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>
	$().ready(function() {
		$("#hospitalBtn").click(function() {
			$.ajax({
				url : "/hospital/saveList",
				type : "GET",
				success : function() {
					$("#hospitalBtn")
                    	.removeClass("btn-outline-secondary")
                    	.addClass("btn-secondary")
                    	.text("성공");
				}
			});
		});
		
		$("#pharmacyBtn").click(function() {
			$.ajax({
				url : "/pharmacy/saveList",
				type : "GET",
				success : function() {
					$("#pharmacyBtn")
	                	.removeClass("btn-outline-secondary")
	                	.addClass("btn-secondary")
	                	.text("성공");
				}
			});
		});
	});
</script>
</head>
<body>
	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section>
				<div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
			</section>
			<section style="background-color: #eee;">
			  <div class="container py-4">
			    <div class="row">
			      <div class="col">
			        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 mb-4">
			          <ol class="breadcrumb mb-0">
			            <li class="breadcrumb-item"><a th:href="@{/}">메인</a></li>
			            <li class="breadcrumb-item active" aria-current="page">관리자 프로필</li>
			          </ol>
			        </nav>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-lg-4">
			        <div class="card mb-4">
			          <div class="card-body text-center">
			            <img th:src="@{/member/thumbnails(fileName=${memberDTO.profileUUID})}" alt="avatar"
			              class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
			            <div class="d-flex justify-content-center align-items-center mt-3">
						    <h5 class="my-3" id="nickname" th:text="${memberDTO.nickname}"></h5>
						</div>
			            <div class="d-flex justify-content-center mb-2">
			            	<span th:if="${memberDTO.memberId} == ${session.memberId}">
				            <input	type="button" value="회원 정보 수정"
				            			data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-sm ms-1" 
				            			th:onclick="|location.href='@{/member/updateProfile}'|">
			            	</span>
			            </div>
			          </div>
			        </div>
			        <div class="card mb-4 mb-lg-0">
			          <div class="card-body">
			          	<p class="mb-4"><span class="font-italic me-1"><a class="text-muted" th:href="@{/member/memberList}">회원 관리</a></span></p><hr>
     				    <p class="mb-4"><span class="font-italic me-1">병원 현황</span><button id="hospitalBtn" class="btn btn-sm btn-outline-secondary float-end">불러오기</button></p><hr>
     				    <p class="mb-4"><span class="font-italic me-1">약국 현황</span><button id="pharmacyBtn" class="btn btn-sm btn-outline-secondary float-end">불러오기</button></p><hr>
     				    <p class="mb-4"><span class="font-italic me-1"><a class="text-muted" th:href="@{/member/communityList}">커뮤니티 현황</a></span></p>
			          </div>
			        </div>
			      </div>
			      <div class="col-lg-8">
			        <div class="card mb-4">
			          <div class="card-body">
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">닉네임</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.nickname}" />
			              </div>
			            </div>
			            <hr>
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">이메일</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.email}" />
			              </div>
			            </div>
		            	<hr>
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">우편번호</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.zipcode}" />
			              </div>
			            </div>
			            <hr>
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">도로명 주소</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.roadAddress}" />
			              </div>
			            </div>
			            <hr>
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">지번 주소</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.landAddress}" />
			              </div>
			            </div>
			            <hr>
			            <div class="row">
			              <div class="col-sm-3">
			                <p class="mb-0">기타 주소</p>
			              </div>
			              <div class="col-sm-9">
			                <p class="text-muted mb-0" th:text="${memberDTO.etcAddress}" />
			              </div>
			            </div>
			          </div>
			        </div>
			        <div class="row">
			          <div class="col-md-6">
			            <div class="card mb-md-0">
			              <div class="card-body">
			                <p class="mb-4"><span class="text-primary font-italic me-1">현재 등록된 병원 현황</span></p>
			                <table>
						        <thead>
						            <tr>
						                <th>시/도</th>
						                <th>개수</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr th:each="item : ${hospitalTypeCounts}">
						                <td th:text="${item.SIDOCDNM}"></td>
						                <td th:text="${item.COUNT}"></td>
						            </tr>
						        </tbody>
						    </table>
			              </div>
			            </div>
			          </div>
			          <div class="col-md-6">
			            <div class="card mb-4 mb-md-0">
			              <div class="card-body">
			                <p class="mb-4"><span class="text-primary font-italic me-1">현재 등록된 약국 현황</span></p>
			              	<table>
						        <thead>
						            <tr>
						                <th>시/도</th>
						                <th>개수</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr th:each="item : ${pharmacyTypeCounts}">
						                <td th:text="${item.SIDOCDNM}"></td>
						                <td th:text="${item.COUNT}"></td>
						            </tr>
						        </tbody>
						    </table>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			</section>
		</main>
	</div>
</body>
</html>