<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Mediquanta | 로그인</title>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script>
	$().ready(function() {
		$("#loginBtn") .click(function() {
			let param = {
				"memberId" : $("#inputId").val(),
				"passwd" : $("#passwd").val()
			}

			$.ajax({
				url : "/member/login",
				type : "post",
				contentType : "application/json",
				data : JSON.stringify(param),
				success : function(isValidMember) {
					if (isValidMember == "y") location.href = "/";
					else $("#failMsg").html( "<span style='color:red;'>아이디와 패스워드를 확인하세요.</span>");
				}
			});
		});
	});
</script>
</head>
<body>

	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section class="vh-75" style="background-color: #9A616D;">
				<div class="container py-4 h-100">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col col-xl-10">
							<div class="card" style="border-radius: 1rem; margin-top: 120px; height: 90%">
								<div class="row g-0">
									<div class="col-md-6 col-lg-5 d-none d-md-block">
										<img th:src="@{/img/member/login.jpg}" alt="login form"
											class="img-fluid"
											style="border-radius: 1rem 0 0 1rem; height: 100%;" />
									</div>
									<div class="col-md-6 col-lg-7 d-flex align-items-center">
										<div class="card-body p-4 p-lg-5 text-black">

											<form>

												<div class="d-flex align-items-center mb-3 pb-1">
													<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
													<span class="h1 fw-bold mb-0"> <img
														class="logo-main" th:src="@{/img/logo.png}" alt="Logo" style="width: 10vh"/>
													</span>
												</div>

												<div data-mdb-input-init class="form-outline mb-4">
													<label class="form-label" for="inputId">아이디</label> <input
														type="text" id="inputId" placeholder="아이디를 입력하세요"
														class="form-control form-control-lg" />
												</div>

												<div data-mdb-input-init class="form-outline mb-4">
													<label class="form-label" for="passwd">비밀번호</label> <input
														type="password" id="passwd" placeholder="비밀번호를 입력하세요"
														class="form-control form-control-lg" /> <span
														id="failMsg"></span>
												</div>

												<div class="pt-1 mb-4">
													<button data-mdb-button-init data-mdb-ripple-init
														id="loginBtn" class="btn btn-dark btn-lg btn-block"
														type="button">로그인</button>
												</div>

												<a class="btn btn-link small text-muted" th:href="@{/member/forgotPasswd}">비밀번호가 기억나지 않으신가요?</a>
												<p class="mb-5 pb-lg-2" style="color: #393f81;">계정이 없으신가요? <a th:href="@{/member/register}" style="color: #5561e0;">회원가입하러 가기</a>
												</p>
												<a th:href="@{/term}" class="small text-muted">이용약관</a> | <a th:href="@{/privacy}" class="small text-muted">개인정보처리방침</a>
											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>