<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>회원 목록</title>
	<link th:href="@{/css/memberList.css}" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section>
				<div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
			</section>
			<section style="background-color: #eee;">
				<div class="container py-4">
					<div class="row">
						<div class="col">
							<nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 mb-4">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/}">메인</a></li>
									<li class="breadcrumb-item">
										<span th:unless="${memberDTO.role == 'USER'}">
											<a th:href="@{/member/profile}">관리자 프로필</a>
										</span>
									</li>
									<li class="breadcrumb-item active" aria-current="page">회원 관리</li>
								</ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="card mb-4">
								<div class="card-body text-center">
									<img th:src="@{/member/thumbnails(fileName=${memberDTO.profileUUID})}" alt="avatar"
										class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
									<div class="d-flex justify-content-center align-items-center mt-3">
										<h5 class="my-3" id="memberNickname" th:text="${memberDTO?.nickname}"></h5>
									</div>
									<div class="d-flex justify-content-center mb-1">
										<span th:if="${memberDTO?.memberId} == ${session.memberId}">
											<input type="button" value="회원 삭제" data-mdb-button-init data-mdb-ripple-init
												class="btn btn-danger btn-sm ms-1"
												th:onclick="|location.href='@{/member/deleteMember}'|">
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="card mb-4" style="height: 45%;">
								<div class="card-body">
									<div class="row">
									    <div class="col-md-4 col-xl-4 mt-1">
										    <div class="card bg-c-blue order-card">
										        <div class="card-block">
										            <h6 class="m-b-20">회원 권한 현황</h6>
										            <h2 class="text-right" style="display: flex; align-items: center;">
										                <i class="fas fa-user f-left color-white" style="margin-right: 17vh;"></i>
										                <span class="color-white " th:text="${memberList.size}"></span>
										            </h2>
										            <p class="m-b-0 color-gray">관리자<span class="f-right" th:text="${memberRoleCount.adminCount}"></span></p>
										            <p class="m-b-0 color-gray">회원<span class="f-right" th:text="${memberRoleCount.userCount}"></span></p>
										        </div>
										    </div>
										</div>
								        <div class="col-md-4 col-xl-4 mt-1">
								            <div class="card bg-c-green order-card">
								                <div class="card-block">
								                	<h6 class="m-b-20">회원 성별 현황</h6>
										            <h2 class="text-right" style="display: flex; align-items: center;">
										                <i class="fas fa-venus-mars f-left color-white" style="margin-right: 16vh;"></i>
										                <span class="color-white" th:text="${memberList.size}"></span>
										            </h2>
									            	<p class="m-b-0 color-gray">남자<span class="f-right" th:text="${memberGenderCount.maleCount}"></span></p>
							                    	<p class="m-b-0 color-gray">여자<span class="f-right" th:text="${memberGenderCount.femaleCount}"></span></p>
								                </div>
								            </div>
								        </div>
								        <div class="col-md-4 col-xl-4 mt-1">
								            <div class="card bg-c-pink order-card">
										        <div class="card-block">
										            <h6 class="m-b-20">회원 가입 현황</h6>
										            <h2 class="text-right" style="display: flex; align-items: center;">
										                <i class="fas fa-user-check f-left color-white" style="margin-right: 16vh;"></i>
										                <span class="color-white" th:text="${memberList.size}"></span>
										            </h2>
										            <div style="margin-top: 10px;">
										                <p class="m-b-0 color-gray">가입<span class="f-right" th:text="${memberActiveCount.activeCount}">9</span></p>
										                <p class="m-b-0 color-gray">탈퇴<span class="f-right" th:text="${memberActiveCount.inactiveCount}">1</span></p>
										            </div>
										        </div>
										    </div>
								        </div>
									</div>
								</div>
							</div>
							<div class="card mb-4">
								<div class="card-body">
									<div class="main-box clearfix">
										<div class="table-responsive">
											<table class="table user-list">
												<thead>
													<tr>
														<th><span>User</span></th>
														<th><span>Created</span></th>
														<th><span>Last Login</span></th>
														<th class="text-center"><span>Status</span></th>
														<th><span>Email</span></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="member : ${memberList}">
														<td>
															<img th:src="@{/member/thumbnails(fileName=${memberDTO?.profileUUID})}"
																alt="avatar" class="rounded-circle img-fluid"
																style="width: 50px; height: 50px;">
															<span class="user-link" th:text="${member.nickname}"></span>
															<span class="user-subhead" th:text="${member.role}"></span>
														</td>
														<td th:text="${#dates.format(member.createdAt, 'yyyy-MM-dd')}"
															id="createdAt"></td>
														<td th:text="${#dates.format(member.lastLogin, 'yyyy-MM-dd')}"
														id="lastLogin"></td>
														<td class="text-center">
															<span class="label label-default">
																<span class="fa-stack"
																	th:if="${member.activeYn} == 'y'">
																	<i class="fas fa-check" style="color: green"></i>
																</span>
																<span class="fa-stack"
																	th:unless="${member.activeYn} == 'y'">
																	<i class="fas fa-times" style="color: red"></i>
																</span>
															</span>
														</td>
														<td>
															<a href="#" th:href="${'mailto:' + member.email}"
																th:text="${member.email}"></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>

</html>