<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout.html}">
<head>
<meta charset="UTF-8">
<title th:text="|${memberDTO.nickname}님의 프로필|"></title>
</head>
<body>
	<div layout:fragment="content">
		<main class="main-content site-wrapper-reveal">
			<section>
				<div style="height: 142px; z-index: 8; background-color: #666666">&emsp;</div>
			</section>
			<section style="background-color: #eee;">
			  <div class="container py-5">
			    <div class="row">
			      <div class="col">
			        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 mb-4">
			          <ol class="breadcrumb mb-0">
			            <li class="breadcrumb-item"><a th:href="@{/mediquanta}">메인</a></li>
			            <li class="breadcrumb-item active"><a th:href="@{/mediquanta/member/profile}">사용자 프로필</a></li>
			            <li class="breadcrumb-item active" aria-current="page">회원 정보 수정</li>
			          </ol>
			        </nav>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-lg-4">
			        <div class="card mb-4">
			          <div class="card-body text-center">
			            <img th:src="@{/img/testimonial/01.jpg}" alt="avatar"
			              class="rounded-circle img-fluid" style="width: 150px;">
			            <div class="d-flex justify-content-center align-items-center mt-3">
						    <h5 class="my-3" id="nickname" th:text="${memberDTO.nickname}"></h5>
						</div>
			            <div class="d-flex justify-content-center mb-2">
			            	<input	type="button" value="회원 정보 수정"
			            			data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1" 
			            			th:onclick="|location.href='@{/mediquanta/member/updateProfile}'|">
			            	<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Message</button>
			            </div>
			          </div>
			        </div>
			        <div class="card mb-4 mb-lg-0">
			          <div class="card-body">
			          	<p class="mb-4"><span class="font-italic me-1">최근 열람한 게시글</span></p>
			          	<div class="col-sm-3">
			          		<p class="mb-1 text-primary" style="font-size: .85rem;">일상 게시판</p>
			          	</div>
			            <div class="col-sm-9">
			                <p class="text-muted mb-0" style="font-size: .77rem;">게시글 제목 1</p>
			            </div>
			            <hr>
			            <div class="col-sm-3">
			          		<p class="mb-1 text-primary" style="font-size: .85rem;">자유 게시판</p>
			          	</div>
			            <div class="col-sm-9">
			                <p class="text-muted mb-0" style="font-size: .77rem;">게시글 제목 1</p>
			            </div>
			            <hr>
			            <div class="col-sm-3">
			          		<p class="mb-1 text-primary" style="font-size: .85rem;">자유 게시판</p>
			          	</div>
			            <div class="col-sm-9">
			                <p class="text-muted mb-0" style="font-size: .77rem;">게시글 제목 2</p>
			            </div>
			          </div>
			        </div>
			      </div>
			      <div class="col-lg-8">
			      	<form th:action="@{/mediquanta/member/updateProfile}" th:object="${memberDTO}" method="post" enctype="multipart/form-data">
				        <div class="card mb-4">
				          <div class="card-body">
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">아이디</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{memberId}" readonly />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">비밀번호</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{passwd}" />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">성별</p>
				              </div>
				              <div class="col-sm-9">
				                <select class="text-muted form-control col-md-6 dropdown-toggle" th:field="*{gender}">
								    <option value="M">Male</option>
								    <option value="F">Female</option>
								</select>
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">닉네임</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{nickname}" />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">이메일</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{email}" />
				              </div>
				            </div>
			            	<hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">우편번호</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{zipcode}" />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">도로명 주소</p>
				              </div>
				              <div class="col-sm-9">
				                <input class="text-muted form-control col-md-6" th:field="*{roadAddress}" />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">지번 주소</p>
				              </div>
				              <div class="col-sm-9">
				              	<input class="text-muted form-control col-md-6" th:field="*{landAddress}" />
				              </div>
				            </div>
				            <hr>
				            <div class="row">
				              <div class="col-sm-3">
				                <p class="mb-0">기타 주소</p>
				              </div>
				              <div class="col-sm-9">
				              	<input class="text-muted form-control col-md-6" th:field="*{etcAddress}" />
				              </div>
				            </div>
				          </div>
				        </div>
				      </form>
			      </div>
			    </div>
			  </div>
			</section>
		</main>
	</div>
</body>
</html>